@include media-breakpoint-up(lg) {
  .mod-form{
    background-image: url("../images/menu.png");
    min-height: 139px;
    @include background-size(cover);
    background-color: $white;
    width: 100%;
    padding-top: 41px;

    .input-menu{
      padding: 0px 7.5px;
      border-radius: 0px;
    }
    .form-menu {
      margin-left: -7.5px;
      margin-right: -7.5px;
      button {
        border-radius: 0px;
        padding: 15px;
      }

    }
    .form-control {
      font-size: 1rem;
      background-color: $white;
      border-radius: 0px;
    }
  }
}
